@import '../../../styles.scss';

.top-heading {
  box-sizing: $sizing;
  padding: 18px 0 0 25px;
  height: 123px;
  background-color: $bgcolor;
  font-size: 56px;
  color: $font;
  font-weight: 300;
}
