@import '../../../../../src/styles.scss';
.display_contact {
  box-sizing: border-box;
  width: 394px;
  margin: 54px 0 0 100px;

  h3 {
    font-size: 24px;
    margin: 0 0 8px 0;
    font-weight: 550;
  }

  ul {
    li {
      list-style-type: none;
    }
  }
}

pre
{
  display:inline-flex;
}
