<div class="pop_up">
  <form action="" id="frm" [formGroup]="contactform" (ngSubmit)="submitForm()">
    <label for="Name" id="namelabel" >Name
      <span class="imp" >*
        <span class="errormessage" *ngIf="!this.contactform.valid">{{ formerrors.name }}
        </span>
      </span> 
    </label>
    <br />
    <input type="text" id="name" formControlName="name" /><br />

    <label for="Email" class="p-0" >Email
      <span class="imp" >*
        <span class="errormessage" *ngIf="!this.contactform.valid">{{ formerrors.email }}
        </span>
      </span> 
    </label>
    <br />
    <input type="email" id="email" formControlName="email" /><br />

    <span id="mobilecontainer">
      <label for="Moblie" class="p-0">Mobile
        <span class="imp">*
          <span class="errormessage" *ngIf="!this.contactform.valid">{{ formerrors.mobile }}
          </span>
        </span> 
      </label>
    <br />
    <input type="number" formControlName="mobile" id="mobile" /><br/>
  </span>

    <span id="landlinecontainer">
      <label for="Landline" id="landlinelabel" class="p-0">Landline</label><br />
      <input type="number" formControlName="landline" id="landline" /><br />
      </span> <br />

    <label for="Website" class="p-0">Website</label><br />
    <input type="text" name="Website" id="website" formControlName="website"/><br />

    <label for="address" class="p-0">Address</label><br />
    <textarea id="address" formControlName="address"  rows="4" cols="69"></textarea><br />

    <button type="submit" id="btn">Add</button>
  </form>
</div>
