@import "../../../styles.scss";

:host {
  margin: 0px;
  padding: 0px;
}

.navbar
{
   height:40px;
   background-color: black;
   box-sizing:border-box;

   .nav-link
   {
     box-sizing: border-box;
     text-decoration: none;
     height:40px;
     
     a
     {
       box-sizing: border-box;
       text-decoration: none;
       color:white;
       display:inline-flex;
       font-weight: 700;
       height:40px;
       padding:20px 13px 0 13px;
     }

   }
}

.active {
  background-color: #ff9900;
  border-left: 3px solid white;
}
