@import "../../../styles.scss";

:host {
  margin: 0px;
  padding: 0px;
}

.navbar-nav{
  margin-top: 0px;
  font-size: 13px;
  background-color: black;
  height: 40px;
  .nav-link {
    font-weight: 700;
    text-decoration: none;
    margin: 0 0 0 7px;
  }
  

  .active {
    font-weight: 800;
    background-color: #ff9900;
    border-left: 3px solid white;
  }
  .blog {
    margin: 8px 15px auto auto;
  }
}

.nav-link a {
  color: white;
  text-decoration: none;
  padding: 10px 13px 14px 13px;
  margin: auto auto 0 4px;
}
