<div class="row m-0" *ngIf="!this.isEmpty  && !loading">
  <div class="col-sm-2">
    <app-allcontactsview ></app-allcontactsview>
  </div>

  <div class="col-sm-4">
    <app-activecontactview ></app-activecontactview>
  </div>

  <div class="col-sm-6">
    <div id="actions">
      <span id="edit_action" (click)="updateActiveContact()">
        <img src="../../../../assets/images/Edit-icon.png" alt="" height="17px" />
        <span id="edit">EDIT</span>
      </span>
      <span id="delete_action" (click)="deleteActiveContact()">
        <img src="../../../../assets/images/delete2.png" alt="" />
        <span id="delete">DELETE</span>
      </span>
    </div>
  </div>
</div>

<div  class="row m-0" *ngIf="this.isEmpty && !loading">
  <div class="col-4"></div>
  <div id="not_found" class="col-4">
      <img src="assets/images/search1.png">
      <h2 *ngIf="this.isEmpty && !loading" class="text-danger">NO CONTACTS FOUND!!! </h2>
  </div>
</div>

<!-- skeleton loading -->

<div *ngIf="loading">
  <div class="row mt-5 ms-3">
    <div class="col-md-2">
      <div class="item">
        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '16px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="5" [theme]="{ 'border-radius': '0', height: '50px' }"></ngx-skeleton-loader>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '16px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="5" [theme]="{ 'border-radius': '0', height: '50px' }"></ngx-skeleton-loader>
      </div>
    </div>
    <div class="col-md-6">
      <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '32px' }"></ngx-skeleton-loader>
    </div>
  </div>
</div>