<div class="row m-0" *ngIf="!this.isEmpty && !this.isInvalidId">
  <div class="col-sm-2">
    <app-allcontactsview ></app-allcontactsview>
  </div>

  <div class="col-sm-4">
    <app-activecontactview ></app-activecontactview>
  </div>

  <div class="col-sm-6">
    <div id="actions">
      <span id="edit_action" (click)="updateActiveContact()">
        <img src="../../../../assets/images/Edit-icon.png" alt="" height="17px" />
        <span id="edit">EDIT</span>
      </span>
      <span id="delete_action" (click)="deleteActiveContact()">
        <img src="../../../../assets/images/delete2.png" alt="" />
        <span id="delete">DELETE</span>
      </span>
    </div>
  </div>
</div>

<div  class="row m-0" *ngIf="this.isEmpty || this.isInvalidId">
  <div class="col-4"></div>
  <div id="not_found" class="col-4">
      <img src="assets/images/search1.png">
      <h2 *ngIf="this.isEmpty" class="text-danger">NO CONTACTS FOUND!!! </h2>
      <h2 *ngIf="this.isInvalidId" class="text-danger">ID NOT FOUND!!! </h2>
  </div>
</div>